body {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Added Roboto */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f7f6;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  .app {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Include padding in element's total width and height */
  }
  
  .dark-mode {
    background-color: #1e1e1e; /* Dark background color */
    color: #f0f0f0; /* Light text color */
  }
  
  /* Example styling for other elements in dark mode */
  .dark-mode h1, .dark-mode h2, .dark-mode h3 {
      color: #ffffff;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Headings with Montserrat */
    color: #263238; /* Darker color for headings */
  }
  
  .dark-mode a {
      color: #61dafb;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  button {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #007bff; /* Blue for general buttons */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
